DB_URL=jdbc:mysql://localhost:3306/library_management?createDatabaseIfNotExist=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=change-me
LIBRARY_DATA_DIRECTORY=data
LIBRARY_FINE_PER_DAY=1.0
LIBRARY_JWT_SECRET=replace-with-a-long-random-secret
LIBRARY_OTP_SECONDS=600
LIBRARY_EXPOSE_OTP=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0
REDIS_TIMEOUT=2000ms
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true